<div class="container">
  <div class="row">
    <div class="title-message">
      <h2>Mes messsages</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="cards-messages">
        <ul class="list-unstyled">
          <li>
            <div class="card-message text-center">
              <div class="card-message-item">
                <%= image_tag "placeholder_pic.png", class: "avatar" %>
              </div>
              <div class="card-message-item">
                <h5>Name</h5>
              </div>
              <div class="card-message-item">
                <h5>Date</h5>
              </div>
            </div>
          </li>
          <li>
            <div class="card-message text-center">
              <div class="card-message-item">
                <%= image_tag "placeholder_pic.png", class: "avatar" %>
              </div>
              <div class="card-message-item">
                <h5>Name</h5>
              </div>
              <div class="card-message-item">
                <h5>Date</h5>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-1">
      <div class="messages-displays">
        <ul class="list-unstyled">
          <li>
            <div class="message-display">

            </div>
          </li>
          <li>
            <div class="enter-message">
              <div class="enter-message-content">

              </div>
              <div class="enter-message-button">
                <a href="#" class="btn-medium">Répondre</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
