/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,300,700");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
@font-face {
  font-family: "MuseoSans";
  src: font-url('MuseoSans_500.otf');
  // src: font-url('MuseoSans_500.eot?#iefix') format('embedded-opentype'),
  //      font-url('MuseoSans_500.woff') format('woff'),
  //      font-url('MuseoSans_500.ttf') format('truetype')
}
$my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #00AFC3;
$yellow: #FFB500;
$orange: #E67E22;
$green: #26B35E;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-medium:  lighten(#000, 60%); // Customed
$gray-light:   lighten(#000, 80%); // Customed
$gray-lighter: lighten(#000, 93.5%); // #eee
