/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
#home_container {
  margin-top: 100px;
  // background-image : url(/assets/white-bg.jpg);
  // background-size: cover;
}
.logo {
  margin-top: 70px;
  margin-bottom: 50px;
}
.catchline {
  margin-bottom: 70px;
}
.form-control {
    min-width: 0;
    border-style : none;
}
.search{
  padding-bottom: 130px;
}
.how {
    background: #F9F9FA;
    border-top: 1px solid #EAEAEB;
    border-bottom: 1px solid #EAEAEB;
    padding-top: 30px;
    padding-bottom: 30px;
    bottom: 0;
    color : $gray;
    font-size: 12px;
}
#grey-img {
  img {
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  }
}
