/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
#home_container {
  margin-top: 100px;
}
.logo {
  margin-top: 70px;
  margin-bottom: 50px;
}
.catchline {
  margin-bottom: 70px;
}
.form-control {
    min-width: 0;
    width: 200px !important;
    border-style : none;
    color: $gray
}
