.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}
.text-muted {
  color: blue;
  font-size: 12px;
}
.panel-body {
  padding: 0px;
}

#message_body {
  opacity: 0.7;
  margin-top: 40px;
  border: 1px solid #999999;
  min-height: 100px;
  &::-webkit-input-placeholder { color:black; }
  &::-moz-placeholder { color:black; } /* firefox 19+ */
  &:-ms-input-placeholder { color:black; } /* ie */
  &input:-moz-placeholder { color:black; }
}

#new-conversation-button {
  margin-top: 50px;
}
.title-new-message {
  text-align: center;
}
#label-new-message {
  color: $blue;
}
#recipients {
  border: 1px solid #999999;
}
