.main_user_row {
  padding-top: 20px;
}
.avatar-header {
  h5 {
    font-size: 14px;
    color: $blue;
    font-weight: lighter;
  }
}
.doc-user-profile li {
  font-size: 14px;
  padding: 5px 0;
}
.card-profile h4 {
  font-size: 16px;
}
.reviews-card {
  h4 {
    font-size: 16px;
  }
  padding: 10px;
}
.description-myprofile {
  background-color: rgb(240,240,240);
}
.icon-profile {
  padding-left: 5px;
  padding-right: 30px;
}
