#user_container {
  margin-top: 100px;
}
.card-profil {
  height: 335px;
  border: 1px solid grey;
  border-radius: 7px;
  font-weight: lighter;
  padding: 10px 10px;
}
.calendar-profil {
  height: 335px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 7px;
  font-weight: lighter;
  padding: 10px 10px;
}
.description-profil {
  height: 200px;
  h4 {
    color: $blue;
  }
  // border: 1px solid grey;
  // border-radius: 7px;
  // font-weight: lighter;
  padding: 10px 10px;
  margin: 10px 0px;
}
.card-acces {
  h4 {
    color: $blue;
  }
  height: 200px;
  padding: 10px 10px;
  margin: 10px 0px;
}
.card-map {
  height: 200px;
  border: 1px solid grey;
  border-radius: 7px;
  font-weight: lighter;
  padding: 10px 10px;
  margin: 10px 0px;
}
#icon-profil {
  font-size: 14px;
  padding: 5px;
  margin-top: 0px;
}
// .card-profil ul li:nth-child(-n+2){
//     text-align: center;
// }
.card-profil ul li:nth-child(2){
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 5px;
}

.user_availabilities{
  padding-top: 20px;
}
.single_dispo{
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}
.single_dispo:hover{
  background-color: $gray-lighter;
}
.doc_resume {
  font-size: 32px;
}

