.left-editing, .right-editing {
  background-color: #F9F9FA;
  select, input, textarea {
    font-size: 13px;
    font-family: Open Sans;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: white;
  }
  textarea {
    min-height: 100px;
  }
  li {
    margin-top: 0;
  }
  h3 {
    font-size: 15px;
  }
}
.left-editing {
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  padding: 5px 10px 20px 10px;
  input[type="file"] {
    opacity: 0;
  }
}
#user_avatar::-webkit-file-upload-button {
  visibility: hidden;
}
#avatar-edit-filter {
  font-size: 12px;
}
#edit-avatar:hover {
  opacity: 0.5;
  content: "Changer la photo";
}
.flex-fields {
  display: flex;
  align-items: center;
  .flex-icons {
    flex: 0 0 3%;
    color: $blue;
  }
  .flex-label {
    flex: 0 0 20%;
    font-family: Raleway;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
    color: $blue;
  }
  .flex-input {
    flex: 0 0 77%;
  }
  .flex-full-length {
    flex: 0 0 100%;
  }
  label {
    font-size: 13px;
    color: $blue;
    font-family: Raleway;
    font-weight: normal;
  }
}
.btn-add-file-edit {
  flex: 0 0 25%;
  margin-left: 0px;
  width: 75px;
  height: 22px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.user-edit-button {
  font-size: 13px;
  width: 160px;
}

.right-editing li {
  list-style : none;
}
.edit_user_background {
  background-color: white;
}

// Hover on avatar to change it

.imgWrap {
  position: relative;
  margin: auto;
  width: 100px;
  .imgDescription-hidden {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: white;
    margin-bottom: 0;
    border-radius: 50%;
  }
  .imgDescription-show {
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: white;
    font-size: 11px;
    margin-bottom: 0;
    border-radius: 50%;
  }
  .fa {
    position: absolute;
    top: 44px;
    left: 73px;
  }
  span {
    position: absolute;
    top: 43px;
    left: 33px;
  }
}

// Toggle right panel to be filled, based on dropdown selection for has_practice









