h4 {
  color: $blue;
}
.user_container {
  margin-top: 100px;
}
.user_container p{
  font-size: 15px;
}
.card-profil {
  border: 1px solid grey;
  border-radius: 7px;
  font-weight: lighter;
  padding: 10px 10px;
}
.calendar-profil {
  text-align: center;
  // border: 1px solid grey;
  // border-radius: 7px;
  font-weight: lighter;
  padding: 10px 10px;
}

.card-map {
  height: 200px;
  border: 1px solid grey;
  border-radius: 7px;
  font-weight: lighter;
  padding: 10px 10px;
  margin: 10px 0px;
}
#icon-profil {
  font-size: 14px;
  padding: 5px;
  margin-top: 0px;
}
.card-profil ul li:nth-child(2){
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 5px;
}

.user_availabilities{
  padding-top: 20px;
}
.single_dispo{
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}
.doc_resume {
  font-size: 32px;
}
#main_user_row {
  padding-top: 40px;
}
.grey_card{
  border-radius: 7px;
  background: #F9F9FA;
  border-top: 1px solid #EAEAEB;
}
.description-profil p{
  font-weight: 20px;
}
.empty-comment{
  padding-top: 10px;
  padding-bottom: 20px;
}
#map-user{
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 15px;
}
