<%= link_to conversation_path(conversation) do %>
  <li class="list-group-item clearfix">
    <p><%= render 'conversations/participants', conversation: conversation %></p>
    <p><%#= conversation.last_message.body %>
          <small>(<span class="text-muted"><%= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span>)</small></p>
  </li>
<% end %>
