<li class="list-group-item clearfix">
  <%= link_to conversation_path(conversation, box: @box), remote: true do %>
    <p><%= render 'conversations/participants', conversation: conversation %></p>
    <p>

      <small>(<span class="text-muted"><%= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span>)</small>
    </p>

  <% end %>
</li>
