<div id="demo"></div>

<div class="container">
  <div class="row">

    <div class="call-to-action text-center">
      <%= form_tag(user_slots_path(@user), :method => :post ) do -%>
      <input id="startDate" name="start_date" type="hidden" value="" />
      <input id="endDate" name="end_date" type="hidden" value="" />
      <input id ="sendDates"name='commit' type='submit' class ="btn btn-success" value='Valider cette plage de dates'/>
      <% end -%>
    </div>

    <% @slot_ranges.each do |range| %>
      <ul class="list-unstyled">
        <li><%= human_slot_range(range) %></li>
        <li><%= link_to "Supprimer", slot_range_path(slot_range_id(range)), method: :delete, data: { confirm: "Etes-vous sûr(e) ?" } %></li>
      </ul>
    <% end %>


<!-- @slot.range est un objet >> un tableau de hashs
=> #<PG::Result:0x007fc9f842b480 status=PGRES_TUPLES_OK ntuples=2 nfields=2 cmd_tuples=2>
[17] pry(main)> r.each { |rr| p rr }
{"min"=>"2016-02-25", "max"=>"2016-03-09"}
{"min"=>"2016-09-10", "max"=>"2016-09-11"} -->

  </div>
</div>



