<div id="demo"></div>

<div class="container">
  <div class="row">

    <div class="call-to-action text-center">
      <%= form_tag(user_slots_path(@user), :method => :post ) do -%>
      <input id="startDate" name="start_date" type="hidden" value="" />
      <input id="endDate" name="end_date" type="hidden" value="" />
      <input id ="sendDates"name='commit' type='submit' class ="btn btn-success" value='Valider cette plage de dates'/>
      <% end -%>
    </div>

    <% @slot_ranges.each do |range| %>
    <ul class="list-unstyled">
      <li><%= range.flatten.join(', ').gsub("min,", "Début :").gsub("max,", "Fin :").gsub(",", " ") %></li>
          <%= link_to @slote_delete do %>
              <h4 class="pencil"><i class="fa fa-pencil "></i></h4>
            <% end %>
    </ul>
    <% end %>



  </div>
</div>



