<% content_for :meta_title, "RemplaMatch - Mon calendrier - #{current_user.first_name} #{current_user.last_name}" %>

<div id="title" class="text-center">
  <% if current_user.has_practice? %>
    <h3>Mon calendrier de recherches de remplacants</h3>
  <% else %>
    <h3>Mon calendrier de recherches de remplacements</h3>
  <%end%>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="demo"></div>
      <div class="call-to-action text-center">
        <%= form_tag(user_slots_path(current_user), :method => :post ) do -%>
        <input id="startDate" name="start_date" type="hidden" value="" />
        <input id="endDate" name="end_date" type="hidden" value="" />
        <input id ="sendDates"name='commit' type='submit' class ="btn btn-primary" value='Ajouter la plage sélectionnée'/>
        <% end -%>
      </div>
    </div>
  </div>
</div>




<%= render 'shared/new_reviews_modal' %>





