<% content_for :meta_title, "RemplaMatch - Mon calendrier - #{current_user.first_name} #{current_user.last_name}" %>

<div id="title" class="text-center">
  <ul class="list-inline">
    <li><div class="custom-ol">1</div></li>
    <li><h4>Sélectionnez votre plage de recherche sur calendrier</h4></li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="demo"></div>
      <div class="call-to-action text-center">
        <%= form_tag(user_slots_path(current_user), :method => :post, remote: true ) do -%>
          <input id="startDate" name="start_date" type="hidden" value="" />
          <input id="endDate" name="end_date" type="hidden" value="" />
          <% if current_user.has_practice %>
            <ul class="list-inline">
              <li><div class="custom-ol">2</div></li>
              <li><div class="form-group">
                <label for="setCommission">Définissez le reversement au remplaçant :</label>
                <input type="number" class="search-input" id="setCommission" name="commission" value="<%= current_user.commission %>" style="width: 100px; line-height: 36px;" required><span class="percentage">%</span>
              </div></li>
            </ul>
          <% end %>
          <br>
          <ul class="list-inline">
            <li><div class="custom-ol"><%= current_user.has_practice ? "3" : "2" %></div></li>
            <li><div><input id="sendDates" name='commit' type='submit' class ="btn btn-primary" value='Validez cette plage'/></div></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="demands">
  <div class="container">
    <div class="row-fluid border-between">
      <div class="availabilities text-center col-sm-12 col-md-4">
        <h4>Mes périodes de recherche</h4>
        <div id="slots">
          <% if current_user.slots.nil? %>
            <i class="fa fa-calendar-minus-o"></i>
            <div class="empty_availabilities">
              <h6>Vous n'avez pas encore défini de nouvelle plage de recherche.</h6>
              <h6>Veuillez remplir votre calendrier ci-dessus et valider vos plages.</h6>
            </div>
          <% else %>
            <% current_user.slots.order(created_at: :asc).each do |slot| %>
              <%= render 'slots/show', slot: slot %>
            <% end %>
          <% end %>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>







