<div id="demo"></div>

<div class="container">
  <div class="row">

    <div class="call-to-action text-center">
      <%= form_tag(user_slots_path(@user), :method => :post ) do -%>
      <input id="startDate" name="start_date" type="hidden" value="" />
      <input id="endDate" name="end_date" type="hidden" value="" />
      <input id ="sendDates"name='commit' type='submit' class ="btn btn-success" value='Valider cette plage de dates'/>
      <% end -%>
    </div>

  </div>
</div>

<div class="demands">
  <div class="container">
    <div class="row-fluid">
      <div class="availabilities text-center col-sm-12 col-md-6">
      <h4>Mes recherches de remplacants</h4>
      <% if @slot_ranges.ntuples == 0 %>
         <div class="empty_availabilities"><i class="fa fa-calendar-times-o"><br></i>Vous n'avez pas encore de plages de recherches <br> Veuillez remplir votre calendrier ci-dessus et valider vos plages</div>
      <% else %>
          <% @slot_ranges.each do |range| %>
            <ul class="list-unstyled list-inline">
              <li><%= human_slot_range(range) %></li>
              <li><%= link_to "Supprimer", slot_range_path(slot_range_id(range)), method: :delete, data: { confirm: "Etes-vous sûr(e) ?" } %></li>
            </ul>
          <% end %>
      <% end %>
      </div>
      <div class="incoming_demands text-center col-sm-12 col-md-6">
          <h4>Mes demandes de remplacants en cours</h4>
      </div>
    </div>
  </div>
</div>






