.form-design {
  margin-top: 100px;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);
  .checkbox label {
    padding: 10px 20px;
  }
  // .password label {
  //   padding-top: 25px;
  //   font-size: 17px;
  //   font-weight: lighter;
  // }
  // .password input {
  //   background-color: transparent;
  //   color: black;
  //   border-bottom: 2px solid grey;
  // }
  // .email label {
  //   padding-top: 25px;
  //   font-size: 17px;
  //   font-weight: lighter;
  // }
  // .email input {
  //   background-color: transparent;
  //   color: black;
  //   border-bottom: 2px solid grey;
  // }
  // .first_name label {
  //   padding-top: 25px;
  //   font-size: 17px;
  //   font-weight: lighter;
  // }
  // .first_name input {
  //   background-color: transparent;
  //   color: black;
  //   border-bottom: 2px solid grey;
  // }
  .help-block {
    font-size: 15px;
  }
}
.background {
      background-color: rgb(250, 250, 250);
}
#form_title h2 {
  padding-bottom: 25px;
  letter-spacing: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}
#form_title p {
  letter-spacing: 2px;
  text-align: justify;
  padding-bottom: 10px;
  font-size: 17px;
}
#form-inputs {
  text-align: left;
}
