.form-design {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 13px;
  .checkbox label {
    padding: 10px 20px;
  }
  .help-block {
    font-size: 15px;
  }
  a {
    font-size: 13px;
  }
}
.modal-content {
  a, p {
    font-size: 13px;
    color: #888;
  }
}
.background {
  background-color: rgb(250, 250, 250);
}
#form_title h4 {
  padding-bottom: 10px;
  letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
}
#form_title {
  p {
    text-align: justify;
    padding-bottom: 10px;
    font-size: 13px;
  }
}
#form-inputs {
  label {
    font-size: 13px;
  }
  input {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 13px;
  }
  select {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 13px;
    background-color: white;
  }
}
#form-inputs {
  text-align: left;
}
