#map {
  z-index: 1;
  position: fixed;
  top: 0;
  float: right;
  overflow-y: auto;
  // height: calc(100vh - 70px);
  // height: calc(100vh - 70px - 202px);
  position: absolute;
  top: -16px;
  float: right;
  overflow-y: auto;
  height: calc(100vh - 70px);
  width: 100%;
}
.map-fixed {
  position: fixed !important;
  top: 70px !important;
  bottom: 0;
  width: 32% !important;
}
