// Cards in search results
.card-user {
  height: 150px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  p {
    font-size: 14px;
  }
  ul {
    line-height: 0.5em;
    margin-bottom: 0px;
  }
}
.card-user:hover {
  background-color: $gray-lighter;
  border-radius: 3px;
  border: 1px solid $blue;
}
hr {
  margin: 5px 0;
}
.highlighted-card {
  background-color: $gray-lighter;
  border-radius: 3px;
  border: 1px solid $blue;
}
.card-avatar {
  flex: 0 0 20%;
  padding-left: 10px;
}
.card-content-left {
  flex: 1 1 auto;
}
.card-content-right {
  flex: 0 0 40%;
  color: $gray-medium;
  font-size: 14px;
  .fa-fw {
    width: 3em;
  }
  p {
    line-height: 20px;
  }
}
.fa-yellow {
  color: $yellow;
}
.fa-gray {
  color: $gray-light;
}
// Cards in home page
.card {
  border-radius: 7px;
  width: 190px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  img {
    margin-top: 10px;
  }
}
