.card {
  height: 150px;
  display: flex;
  align-items: center;
}
.card-avatar {
  flex: 0 0 17%;
}
.card-content-left {
  flex: 1 1 auto;
}
.card-content-right {
  flex: 0 0 25%;
}
.fa-yellow {
  color: $yellow;
}
.fa-gray {
  color: $gray-lighter;
}
