// Cards in search results
.card-user {
  height: 150px;
  display: flex;
  align-items: center;
}
.highlighted-card {
  background-color: $gray-lighter;
  border-radius: 4px;
  box-shadow: 1px 1px 1px $blue;
  border: 1px solid $blue;
}
.card-avatar {
  flex: 0 0 17%;
  padding-left: 10px;
}
.card-content-left {
  flex: 1 1 auto;
}
.card-content-right {
  flex: 0 0 35%;
  color: #888;
  font-size: 14px;
}
.fa-yellow {
  color: $yellow;
}
.fa-gray {
  color: $gray-lighter;
}
// Cards in home page
.card {
  border-radius: 7px;
  width: 190px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  img {
    margin-top: 10px;
  }
}
